<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
<p>Title</p>
<%= f.text_field :title %>

<p>Body</p>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>

<p><%= link_to "Show", book_path %>|<%= link_to "Back",books_path %></P>

<% end %>