<h1>Editing Book</h1>
<% if @book.errors.any? %>
 <%= @book.errors.count %> errors prohibited this book from being saved:
 <ul>
    <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
    <% end %>
 </ul>
<% end %>
<%= form_with model: @book do |f| %>
<p><strong>Title</strong></p>
<%= f.text_field :title %>

<p><strong>Body</strong></p>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>

<p><%= link_to "Show", book_path %>|<%= link_to "Back",books_path %></P>

<% end %>