<h1>Books</h1>

<% @book.each do |book| %>

    <p>Title</p>
    <span><%= book.title %></span>

    <p>Body</p>
    <span><%= book.body %></span>
<% end %>

<h1>Books</h1>

<%= form_with model: @book do |f| %>
　<h2> New book</h2>
　<p>Title</p>
　<%= f.text_field :title %>
　
　<p>Body</p>
　<%= f.text_area :body %>
　
　<%= f.submit 'Create Book' %>
<% end %>